@import "../../helpers/constants.scss";

.wrapper {
  overflow: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.main {
  height: 100%;
}

.footer {
  margin-top: auto;
}
