@import "../helpers/constants.scss";

.container {
  width: 85vw;
  background: $background;
  margin: auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (min-width: 520px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 720px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media (min-width: 920px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: 1px solid;
  margin: 5px;
  border-radius: 5px;
  min-height: 150px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
